<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>Amplitude Methods for the Binary Problem</title>
    
    <meta name="description" content="Presentation Slides made with impress.js" />
    <meta name="author" content="Gregor Kaelin" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
      "HTML-CSS": {
	  scale: 90,
	  styles: {
      '.MathJax_Display': {
      "margin": "20px 0"
      }
      }
	  },
	  TeX: { extensions: ["color.js"] },
	  });
	</script>
	<script type="text/javascript" src="extras/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body class="impress-not-supported">

	<div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	  <p>
		$$
		\definecolor{desyOrange}{RGB}{242,142,0}
		\DeclareMathOperator{\Arcsinh}{arcsinh}
		\DeclareMathOperator{\Arctan}{arctan}
		\DeclareMathOperator{\arcosh}{arcosh}
		\newcommand\dd{{\mathrm d}}
		\newcommand{\bb}{{\mathbf b}}
		\newcommand{\bk}{{\mathbf k}}
		\newcommand{\bl}{{\mathbf l}}
		\newcommand{\bm}{{\mathbf m}}
		\newcommand{\bn}{{\mathbf n}}
		\newcommand{\bp}{{\mathbf p}}
		\newcommand{\bq}{{\mathbf q}}
		\newcommand{\br}{{\mathbf r}}
		\newcommand{\bw}{{\mathbf w}}
		\newcommand{\bx}{{\mathbf x}}
		\newcommand{\by}{{\mathbf y}}
		\newcommand{\bz}{{\mathbf z}}
		\newcommand\cO{\mathcal{O}}
		\newcommand{\cD}{\mathcal{D}}
		\newcommand\cA{\mathcal{A}}
		\newcommand\cM{\mathcal{M}}
		\newcommand\cN{\mathcal{N}}
		\newcommand\cE{\mathcal{E}}
		\newcommand\cS{\mathcal{S}}
		\newcommand\cP{\mathcal{P}}
		\newcommand\cF{\mathcal{F}}
		\newcommand\cL{\mathcal{L}}
		\newcommand\cH{\mathcal{H}}
		\newcommand\Mp{M_{\rm Pl}}
		$$
	  </p>
	</div>

	<div id="impress">

	  <div id="title" class="step" data-x="0" data-y="0">
		<h1>Amplitude Methods for the Binary Problem
		</br>
		<span class="small"><span class="orange">o</span>r</span>
		</br>
		<span class="smallest">Integrals,</span> <span class="small">Integrals,</span> Integrals
		</h1>
		<p class="margin-bottom30">Based on work with
		  </br>
		  Christoph Dlapa, Ryusuke Jinno, Zhengwen Liu, Rafael Porto & Henrique Rubira
		  </br>
		  <a href="http://arxiv.org/abs/arXiv:1910.03008">[1910.03008]</a>
		  <a href="http://arxiv.org/abs/arXiv:1911.09130">[1911.09130]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2006.01184">[2006.01184]</a>
		  <a href="http://arxiv.org/abs/arXiv:2007.04977">[2007.04977]</a>
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2008.06047">[2008.06047]</a>
		  <a href="http://arxiv.org/abs/arXiv:2106.08276">[2106.08276]</a>
		</p>
		
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		<img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		
		<p id="author">
		  Gregor Kälin
		</p>
		
		<div class="margin-top50 margin-bottom30">
		  <img id="ercFig" src="figures/erc.svg" alt="erc">
		  <img id="desyFig" src="figures/logo_DESY.png" alt="desy">
		  <img id="euFig" src="figures/eu.svg" alt="eu">
		</div>
		
		<div>
		  <i>
			QU Day 14.09.2021
		  </i>
		</div>
	  </div>

	  <div id="goals" class="step" data-rel-x="1700" data-rel-to="title">
		<h2>The binary problem and gravitati<span class="orange">o</span>nal waves</h2>
		<p class="center">
		  <video width="360" height="240" loop muted>
			<source src="figures/anim.mp4" type="video/mp4">
		  </video>
		  <br/>
		  <img id="waveformFig" src="figures/waveform.svg" alt="waveform">
		</p>
	  </div>

	  <div id="main" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="goals">
		<h2>Boundary-To-B<span class="orange">o</span>und (B2B) relations</h2>
		<p class="center">
		  <img id="mainFig" src="figures/main.svg" alt="scattering">
		</p>
	  </div>

	  <div id="construction" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="main">
		<h2>Overview of different appr<span class="orange">o</span>aches (potential)</h2>
		<div class="row">
		  <div class="column1">
			<h3><span class="h3span">PM EFT: \(\Delta p\)</span></h3>
			$$\begin{align}
			\cS &= \cS_\textrm{EH}[h] + \cS_\textrm{WL}[h,x_a]\\
			&\Downarrow(\textrm{Feynman diagrams})\\
			e^{i\cS_\textrm{eff}} &= \int \cD h e^{i\cS_\textrm{EH}+i\cS_\textrm{GF}+i\cS_\textrm{WL}}
			\end{align}$$
			Perturbative expansion:
			$$\cS_\textrm{eff}=\sum_{n=0}^\infty\int\dd\tau G^n \cL_n[x_1,x_2]$$
			E.o.m. \(\Rightarrow\) deflection:</br>
			$$\Delta p_1 =-\eta^{\mu\nu}\sum_n\int\dd\tau\frac{\partial\cL_n}{\partial x_1^\nu}$$
			$$2\sin\left(\frac{\chi}{2}\right)=\frac{|\Delta \bp_{1\textrm{cm}}|}{p_\infty}$$
		  </div>
		  <div class="column23">
			<h3><span class="h3span">Amplitude</span></h3>
			$$\cS = \cS_\textrm{EH}[h] + \cS_\textrm{scalar}[h, \phi_a]$$
			Tree level amplitudes: double copy <span class="refInline">[BCJ '08 '10]</span>
			$$(\textrm{gravity})=(\textrm{gauge thy})^2$$
			Loop level amplitudes: generalized unitarity
			<div class="row">
			  <div class="column column2">
				<h3><span class="h3span">EFT matching</span></h3>
				$$\cM \overset{!}{=} \cM_\textrm{eff}(V_\textrm{eff})$$
				$$\cH(r,p) = \cH_\textrm{kin}(r,p)\!+\! V_\textrm{eff}(r,p)$$
				$$\chi=-\pi+2J\int_{r_\textrm{min}}^\infty \frac{\dd r}{r^2\sqrt{p_r(r)^2}}$$
				with
				$$E=H(r^2,p^2=p_r^2+J^2/r^2)$$
			  </div>
			  <div class="column column3">
				<h3><span class="h3span">Eikonal exp</span></h3>
				$$\tilde\cM(b_\textrm{e})\propto\int \dd^{2-2\epsilon}q e^{ib_\textrm{e}\cdot q}\cM(q) $$
				Eikonal phase \(\delta(s,b_\textrm{e})\):
				$$1+i\tilde\cM = e^{2i\delta}(1+2i\Delta)$$
				\(\Delta(s,b_\textrm{e})\) quantum remainder
				$$\sin\left(\frac{\chi}{2}\right)=\frac{\partial}{\partial |b_\textrm{e}|}\frac{\Re(2\delta)}{2 p_\infty}$$
			  </div>
			</div>
		  </div>		  
		</div> 
	  </div>

	  <div id="ints" class="step" data-rel-x="0" data-rel-y="800" data-rel-to="construction">
		<h3><span class="h3span">Integrati<span class="orange">o</span>n</span></h3>
		All approaches lead to similar (scalar) Feynman integrals.</br>
		<ul>
		  <li><em>PM-EFT</em> (generic structure at arbitrary loop order):
			$$
			\int \dd^Dq\frac{\delta(q\cdot u_1)\delta(q\cdot u_2)e^{i b\cdot q}}{(q^2)^m}
			\underbrace{\int \dd^D\ell_1\cdots\dd^D\ell_L\frac{\delta(\ell_1\cdot u_{a_1})\cdots\delta(\ell_L\cdot u_{a_L})}{(\ell_1\cdot u_{b_1}\pm i0)^{i_1}\cdots(\ell_L\cdot u_{b_L}\pm i0)^{i_L}(\textrm{sq. props})}}_{\textrm{Cut Feynman integrals with linear and square propagators}}
			$$
			Square propagators: \( [\ell_1^2-i0]\), \( [(\ell_1-q)^2-i0] \), ...</br>
		  </li>
		  <li><em>Amplitude approaches:</em> Linear propagators instead of delta functions. Related to above families by (reversed) unitarity:
			$$-2\pi i\frac{(-1)^{\nu-1}}{(\nu-1)!}\delta^{(\nu-1)}(A)=\frac{1}{(A+i0)^\nu}-\frac{1}{(A-i0)^\nu}$$
		  </li>
		</ul>
	  </div>

	  <div id="intAt4PM" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="construction">
		<h2>Integration pr<span class="orange">o</span>cedure @4PM (potential)</h2>
		<img id="integrationFig" src="figures/integration.svg" alt="integration">
	  </div>

	  <div id="res4PM" class="step" data-rel-x="0" data-rel-y="900" data-rel-to="intAt4PM">
		<h3><span class="h3span">Result <span class="orange">@</span>4PM</span></h3>
		<img id="res4PMFig" src="figures/res4PM.svg" alt="res4PM">
	  </div>	  

	  <div id="challenges" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="intAt4PM">
		<h2>Challenges</h2>
		<ul>
		  <li><em>Radiation: In-In vs. In-Out or the KMOC setup</em>
			</br>
			\( \langle \Delta p\rangle = \langle\textrm{in}| \Delta p | \textrm{in}\rangle \neq \langle\textrm{in} | \Delta p | \textrm{out} \rangle \)
			<ul>
			  <li>In-in boundary conditions: doubling of fields in the WL EFT action.</li>
			  <li>Integrand computation becomes significantly harder.</li>
			  <li>The gravitons have retarded/advanced propagators. Amplitude methods are optimized for Feynman propagators.</li>
			  <li>In the amplitudes approach, the KMOC formalism <a class="refInline" href="http://arxiv.org/abs/arXiv:1811.10950">[1811.10950]</a> solves this problem by writing observables as combinations of amplitudes and <i>cut</i> amplitudes.
			</ul>
		  </li>
		</ul>
		<i>With the help of a Master student, Jakob Neef, we are translating our code to C++ (based on GiNaC) to handle the integrand construction more efficiently.</i></br>
		<i>We either need cut amplitudes (on-shell integrations) or retarded/advanced propagators. What is easier?</i>
		<ul>
	  </div>

	  <div id="challenges2" class="step" data-rel-x="400" data-rel-y="600" data-rel-to="challenges">
		<ul>
		  <li><em>Boundary conditions:</em>
			So far, in the potential region: IBP + (Schwinger-type) parametrization; these integrals essentially correspond to PN integrals.
			<ul>
			  <li>Other regions are harder. Some success with one further region (corresponding to two on-shell graviton legs).</li>
			  <li>Going from Feynman to retarded/advanced propagator introduces yet another difficulty.</li>
			  <li>The boundary integrals are just numbers (at each order in \(\epsilon\)): Numerics!</li>
			</ul>
		  </li>		  
		</ul>
		<i>PN data contains all information for \(v\rightarrow 0\), can we use this for other regions?</i></br>
		<i>Systematic approach at higher loop needed. Boundary IBP relations for other regions? Iterative approach?</i></br>
		<i>We are working on various ideas related to a numerical bootstrap of such integrals (also using machine learning techniques to speed up the numerical algorithms).</i>
	  </div>

	  <div id="challenges3" class="step" data-rel-x="400" data-rel-y="550" data-rel-to="challenges2">
		<ul>
		  <li><em>Differential equations and function space:</em> The elliptic sector at three loops is already challenging to solve (canonicalize). What's gonna happen at higher orders?
			<ul>
			  <li>Our system contains iterated integrals over elliptic integrals, but they cancel out in the observables.</li>
			  <li>In the future? Surviving iterated elliptics? Calabi-Yau?</li>
			  <li>Elliptics&friends: Similar challenges as in Amplitudes, precision frontier, Higgs physics, ... </li>
			  <li>"Good" set of masters? Transcendental structure, canonical, avoiding spurious cancellations, iterable, PN-correspondence,...?</li>
			</ul>
		  </li>
		</ul>
		<i>A "good" basis could resolve many of our problems, but how to find it? Does it exist?</i></br>
		<i>Where can our friends from related fields help us out?</i>
	  </div>

	  <div id="final" class="step" data-rel-x="2000" data-rel-y"0" data-rel-to="challenges">
		<p class="center">
		  <img id="mainFig2" src="figures/main.svg" alt="main">
		</p>
		<p class="small">
		  This research is supported by the ERC-CoG “Precision Gravity: From the LHC to LISA” provided by the European Research Council (ERC) under the European Union’s H2020 research and innovation programme (grant No. 817791).
		</p>
	  </div>
	  
  	</div>

	<div id="impress-toolbar"></div>

	<!--
	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate. <br/>
		Press 'P' to launch speaker console.</p>
	</div>
	-->
	<!-- <script> -->
	<!--   if ("ontouchstart" in document.documentElement) {  -->
	<!-- 	  document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>"; -->
	<!--   } -->
	<!--   </script> -->

	<script src="js/impress.js"></script>
	<script>impress().init();</script>

	<script type="text/javascript">
	  //play and pause video when entering and leaving slide
	  const vid = document.querySelector('video');
	  const vidSlide = document.getElementById('goals');

	  //which mutations to observe
	  const config = {attributes: true};

	  function playVid() {
		  vid.play();
	  };
	  function stopVid() {
		  vid.pause();
		  vid.currentTime = 0;
	  };

	  //handle the class attribute change of the 
	  const callback = function(mutationsList, observer) {
		  for (let mutation of mutationsList) {
			  if (mutation.type == 'attributes' && mutation.attributeName == 'class') {
				  if (mutation.target.classList.contains('active')) {
					  playVid();
				  } else {
					  stopVid();
				  }
			  }
		  }
	  };

	  const observer = new MutationObserver(callback);

	  observer.observe(vidSlide, config);
	</script>

  </body>
</html>
